body {
  font-family: -apple-system,BlinkMacSystemFont,SegoeUI,Roboto,Oxygen-Sans,Ubunto,Cantarell,HelveticaNeue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: point;
}
